<!DOCTYPE html>
<html>
    <head>
        <title>{{block "title" .}}Polytopia Randomizer{{end}}</title>
        <script src="https://unpkg.com/htmx.org"></script>
        <link rel="icon" type="image/png" href="static/images/polytopia.png">
        {{block "style" .}}{{end}}
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a href="/g">New Game</a>
        </nav>
        {{block "content" .}}{{end}}
    </body>
</html>
